* {
	-webkit-user-select: none;
	-ms-touch-select: none;
/*
	-ms-touch-action: none;
*/
}
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
	font-size:16px;
	color: #6c6c6c;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}